<div id="highlightingDialog" ng-app="highlightingCtl">
    <table class="table">
        <thead>
            <tr>
                <td class="actions"></td>
                <td class="pattern">Pattern:</td>
                <td class="text-color">Text color:</td>
                <td class="bg-color">Background color:</td>
                <td class="icon"></td>
                <td class="watch">Notify as:</td>
            </tr>
        </thead>
        <tr ng-repeat="setting in highlighting">
            <td class="actions">
                <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeRule()"/>
                <span class="remove glyphicon glyphicon-chevron-up" ng-click="move(1)"/>
                <span class="remove glyphicon glyphicon-chevron-down" ng-click="move(-1)"/>
            </td>
            <td class="pattern">
                <input ng-model="setting.pattern">
            </td>
            <td class="text-color">
                <input ng-model="setting.color"><!-- 
                 --><span class="preview" ng-style="{background: setting.color}"></span>
            </td>
            <td class="bg-color">
                <input ng-model="setting.background"><!-- 
                 --><span class="preview" ng-style="{background: setting.background}"></span>
            </td>
            <td class="icon">
                <span class="icon glyphicon" ng-class="setting.icon" ng-click="showIcons()"></span>
            </td>
            <td class="watch">
                <input ng-model="setting.watch">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-default" ng-click="addRule()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Add
                </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>