<div id="iconSelection">
    <span class="glyphicon glyphicon-asterisk" ng-click="setIcon('glyphicon-asterisk')" />
    <span class="glyphicon glyphicon-plus" ng-click="setIcon('glyphicon-plus')" />
    <span class="glyphicon glyphicon-euro" ng-click="setIcon('glyphicon-euro')" />
    <span class="glyphicon glyphicon-eur" ng-click="setIcon('glyphicon-eur')" />
    <span class="glyphicon glyphicon-minus" ng-click="setIcon('glyphicon-minus')" />
    <span class="glyphicon glyphicon-cloud" ng-click="setIcon('glyphicon-cloud')" />
    <span class="glyphicon glyphicon-envelope" ng-click="setIcon('glyphicon-envelope')" />
    <span class="glyphicon glyphicon-pencil" ng-click="setIcon('glyphicon-pencil')" />
    <span class="glyphicon glyphicon-glass" ng-click="setIcon('glyphicon-glass')" />
    <span class="glyphicon glyphicon-music" ng-click="setIcon('glyphicon-music')" />
    <span class="glyphicon glyphicon-search" ng-click="setIcon('glyphicon-search')" />
    <span class="glyphicon glyphicon-heart" ng-click="setIcon('glyphicon-heart')" />
    <span class="glyphicon glyphicon-star" ng-click="setIcon('glyphicon-star')" />
    <span class="glyphicon glyphicon-star-empty" ng-click="setIcon('glyphicon-star-empty')" />
    <span class="glyphicon glyphicon-user" ng-click="setIcon('glyphicon-user')" />
    <span class="glyphicon glyphicon-film" ng-click="setIcon('glyphicon-film')" />
    <span class="glyphicon glyphicon-th-large" ng-click="setIcon('glyphicon-th-large')" />
    <span class="glyphicon glyphicon-th" ng-click="setIcon('glyphicon-th')" />
    <span class="glyphicon glyphicon-th-list" ng-click="setIcon('glyphicon-th-list')" />
    <span class="glyphicon glyphicon-ok" ng-click="setIcon('glyphicon-ok')" />
    <span class="glyphicon glyphicon-remove" ng-click="setIcon('glyphicon-remove')" />
    <span class="glyphicon glyphicon-zoom-in" ng-click="setIcon('glyphicon-zoom-in')" />
    <span class="glyphicon glyphicon-zoom-out" ng-click="setIcon('glyphicon-zoom-out')" />
    <span class="glyphicon glyphicon-off" ng-click="setIcon('glyphicon-off')" />
    <span class="glyphicon glyphicon-signal" ng-click="setIcon('glyphicon-signal')" />
    <span class="glyphicon glyphicon-cog" ng-click="setIcon('glyphicon-cog')" />
    <span class="glyphicon glyphicon-trash" ng-click="setIcon('glyphicon-trash')" />
    <span class="glyphicon glyphicon-home" ng-click="setIcon('glyphicon-home')" />
    <span class="glyphicon glyphicon-file" ng-click="setIcon('glyphicon-file')" />
    <span class="glyphicon glyphicon-time" ng-click="setIcon('glyphicon-time')" />
    <span class="glyphicon glyphicon-road" ng-click="setIcon('glyphicon-road')" />
    <span class="glyphicon glyphicon-download-alt" ng-click="setIcon('glyphicon-download-alt')" />
    <span class="glyphicon glyphicon-download" ng-click="setIcon('glyphicon-download')" />
    <span class="glyphicon glyphicon-upload" ng-click="setIcon('glyphicon-upload')" />
    <span class="glyphicon glyphicon-inbox" ng-click="setIcon('glyphicon-inbox')" />
    <span class="glyphicon glyphicon-play-circle" ng-click="setIcon('glyphicon-play-circle')" />
    <span class="glyphicon glyphicon-repeat" ng-click="setIcon('glyphicon-repeat')" />
    <span class="glyphicon glyphicon-refresh" ng-click="setIcon('glyphicon-refresh')" />
    <span class="glyphicon glyphicon-list-alt" ng-click="setIcon('glyphicon-list-alt')" />
    <span class="glyphicon glyphicon-lock" ng-click="setIcon('glyphicon-lock')" />
    <span class="glyphicon glyphicon-flag" ng-click="setIcon('glyphicon-flag')" />
    <span class="glyphicon glyphicon-headphones" ng-click="setIcon('glyphicon-headphones')" />
    <span class="glyphicon glyphicon-volume-off" ng-click="setIcon('glyphicon-volume-off')" />
    <span class="glyphicon glyphicon-volume-down" ng-click="setIcon('glyphicon-volume-down')" />
    <span class="glyphicon glyphicon-volume-up" ng-click="setIcon('glyphicon-volume-up')" />
    <span class="glyphicon glyphicon-qrcode" ng-click="setIcon('glyphicon-qrcode')" />
    <span class="glyphicon glyphicon-barcode" ng-click="setIcon('glyphicon-barcode')" />
    <span class="glyphicon glyphicon-tag" ng-click="setIcon('glyphicon-tag')" />
    <span class="glyphicon glyphicon-tags" ng-click="setIcon('glyphicon-tags')" />
    <span class="glyphicon glyphicon-book" ng-click="setIcon('glyphicon-book')" />
    <span class="glyphicon glyphicon-bookmark" ng-click="setIcon('glyphicon-bookmark')" />
    <span class="glyphicon glyphicon-print" ng-click="setIcon('glyphicon-print')" />
    <span class="glyphicon glyphicon-camera" ng-click="setIcon('glyphicon-camera')" />
    <span class="glyphicon glyphicon-font" ng-click="setIcon('glyphicon-font')" />
    <span class="glyphicon glyphicon-bold" ng-click="setIcon('glyphicon-bold')" />
    <span class="glyphicon glyphicon-italic" ng-click="setIcon('glyphicon-italic')" />
    <span class="glyphicon glyphicon-text-height" ng-click="setIcon('glyphicon-text-height')" />
    <span class="glyphicon glyphicon-text-width" ng-click="setIcon('glyphicon-text-width')" />
    <span class="glyphicon glyphicon-align-left" ng-click="setIcon('glyphicon-align-left')" />
    <span class="glyphicon glyphicon-align-center" ng-click="setIcon('glyphicon-align-center')" />
    <span class="glyphicon glyphicon-align-right" ng-click="setIcon('glyphicon-align-right')" />
    <span class="glyphicon glyphicon-align-justify" ng-click="setIcon('glyphicon-align-justify')" />
    <span class="glyphicon glyphicon-list" ng-click="setIcon('glyphicon-list')" />
    <span class="glyphicon glyphicon-indent-left" ng-click="setIcon('glyphicon-indent-left')" />
    <span class="glyphicon glyphicon-indent-right" ng-click="setIcon('glyphicon-indent-right')" />
    <span class="glyphicon glyphicon-facetime-video" ng-click="setIcon('glyphicon-facetime-video')" />
    <span class="glyphicon glyphicon-picture" ng-click="setIcon('glyphicon-picture')" />
    <span class="glyphicon glyphicon-map-marker" ng-click="setIcon('glyphicon-map-marker')" />
    <span class="glyphicon glyphicon-adjust" ng-click="setIcon('glyphicon-adjust')" />
    <span class="glyphicon glyphicon-tint" ng-click="setIcon('glyphicon-tint')" />
    <span class="glyphicon glyphicon-edit" ng-click="setIcon('glyphicon-edit')" />
    <span class="glyphicon glyphicon-share" ng-click="setIcon('glyphicon-share')" />
    <span class="glyphicon glyphicon-check" ng-click="setIcon('glyphicon-check')" />
    <span class="glyphicon glyphicon-move" ng-click="setIcon('glyphicon-move')" />
    <span class="glyphicon glyphicon-step-backward" ng-click="setIcon('glyphicon-step-backward')" />
    <span class="glyphicon glyphicon-fast-backward" ng-click="setIcon('glyphicon-fast-backward')" />
    <span class="glyphicon glyphicon-backward" ng-click="setIcon('glyphicon-backward')" />
    <span class="glyphicon glyphicon-play" ng-click="setIcon('glyphicon-play')" />
    <span class="glyphicon glyphicon-pause" ng-click="setIcon('glyphicon-pause')" />
    <span class="glyphicon glyphicon-stop" ng-click="setIcon('glyphicon-stop')" />
    <span class="glyphicon glyphicon-forward" ng-click="setIcon('glyphicon-forward')" />
    <span class="glyphicon glyphicon-fast-forward" ng-click="setIcon('glyphicon-fast-forward')" />
    <span class="glyphicon glyphicon-step-forward" ng-click="setIcon('glyphicon-step-forward')" />
    <span class="glyphicon glyphicon-eject" ng-click="setIcon('glyphicon-eject')" />
    <span class="glyphicon glyphicon-chevron-left" ng-click="setIcon('glyphicon-chevron-left')" />
    <span class="glyphicon glyphicon-chevron-right" ng-click="setIcon('glyphicon-chevron-right')" />
    <span class="glyphicon glyphicon-plus-sign" ng-click="setIcon('glyphicon-plus-sign')" />
    <span class="glyphicon glyphicon-minus-sign" ng-click="setIcon('glyphicon-minus-sign')" />
    <span class="glyphicon glyphicon-remove-sign" ng-click="setIcon('glyphicon-remove-sign')" />
    <span class="glyphicon glyphicon-ok-sign" ng-click="setIcon('glyphicon-ok-sign')" />
    <span class="glyphicon glyphicon-question-sign" ng-click="setIcon('glyphicon-question-sign')" />
    <span class="glyphicon glyphicon-info-sign" ng-click="setIcon('glyphicon-info-sign')" />
    <span class="glyphicon glyphicon-screenshot" ng-click="setIcon('glyphicon-screenshot')" />
    <span class="glyphicon glyphicon-remove-circle" ng-click="setIcon('glyphicon-remove-circle')" />
    <span class="glyphicon glyphicon-ok-circle" ng-click="setIcon('glyphicon-ok-circle')" />
    <span class="glyphicon glyphicon-ban-circle" ng-click="setIcon('glyphicon-ban-circle')" />
    <span class="glyphicon glyphicon-arrow-left" ng-click="setIcon('glyphicon-arrow-left')" />
    <span class="glyphicon glyphicon-arrow-right" ng-click="setIcon('glyphicon-arrow-right')" />
    <span class="glyphicon glyphicon-arrow-up" ng-click="setIcon('glyphicon-arrow-up')" />
    <span class="glyphicon glyphicon-arrow-down" ng-click="setIcon('glyphicon-arrow-down')" />
    <span class="glyphicon glyphicon-share-alt" ng-click="setIcon('glyphicon-share-alt')" />
    <span class="glyphicon glyphicon-resize-full" ng-click="setIcon('glyphicon-resize-full')" />
    <span class="glyphicon glyphicon-resize-small" ng-click="setIcon('glyphicon-resize-small')" />
    <span class="glyphicon glyphicon-exclamation-sign" ng-click="setIcon('glyphicon-exclamation-sign')" />
    <span class="glyphicon glyphicon-gift" ng-click="setIcon('glyphicon-gift')" />
    <span class="glyphicon glyphicon-leaf" ng-click="setIcon('glyphicon-leaf')" />
    <span class="glyphicon glyphicon-fire" ng-click="setIcon('glyphicon-fire')" />
    <span class="glyphicon glyphicon-eye-open" ng-click="setIcon('glyphicon-eye-open')" />
    <span class="glyphicon glyphicon-eye-close" ng-click="setIcon('glyphicon-eye-close')" />
    <span class="glyphicon glyphicon-warning-sign" ng-click="setIcon('glyphicon-warning-sign')" />
    <span class="glyphicon glyphicon-plane" ng-click="setIcon('glyphicon-plane')" />
    <span class="glyphicon glyphicon-calendar" ng-click="setIcon('glyphicon-calendar')" />
    <span class="glyphicon glyphicon-random" ng-click="setIcon('glyphicon-random')" />
    <span class="glyphicon glyphicon-comment" ng-click="setIcon('glyphicon-comment')" />
    <span class="glyphicon glyphicon-magnet" ng-click="setIcon('glyphicon-magnet')" />
    <span class="glyphicon glyphicon-chevron-up" ng-click="setIcon('glyphicon-chevron-up')" />
    <span class="glyphicon glyphicon-chevron-down" ng-click="setIcon('glyphicon-chevron-down')" />
    <span class="glyphicon glyphicon-retweet" ng-click="setIcon('glyphicon-retweet')" />
    <span class="glyphicon glyphicon-shopping-cart" ng-click="setIcon('glyphicon-shopping-cart')" />
    <span class="glyphicon glyphicon-folder-close" ng-click="setIcon('glyphicon-folder-close')" />
    <span class="glyphicon glyphicon-folder-open" ng-click="setIcon('glyphicon-folder-open')" />
    <span class="glyphicon glyphicon-resize-vertical" ng-click="setIcon('glyphicon-resize-vertical')" />
    <span class="glyphicon glyphicon-resize-horizontal" ng-click="setIcon('glyphicon-resize-horizontal')" />
    <span class="glyphicon glyphicon-hdd" ng-click="setIcon('glyphicon-hdd')" />
    <span class="glyphicon glyphicon-bullhorn" ng-click="setIcon('glyphicon-bullhorn')" />
    <span class="glyphicon glyphicon-bell" ng-click="setIcon('glyphicon-bell')" />
    <span class="glyphicon glyphicon-certificate" ng-click="setIcon('glyphicon-certificate')" />
    <span class="glyphicon glyphicon-thumbs-up" ng-click="setIcon('glyphicon-thumbs-up')" />
    <span class="glyphicon glyphicon-thumbs-down" ng-click="setIcon('glyphicon-thumbs-down')" />
    <span class="glyphicon glyphicon-hand-right" ng-click="setIcon('glyphicon-hand-right')" />
    <span class="glyphicon glyphicon-hand-left" ng-click="setIcon('glyphicon-hand-left')" />
    <span class="glyphicon glyphicon-hand-up" ng-click="setIcon('glyphicon-hand-up')" />
    <span class="glyphicon glyphicon-hand-down" ng-click="setIcon('glyphicon-hand-down')" />
    <span class="glyphicon glyphicon-circle-arrow-right" ng-click="setIcon('glyphicon-circle-arrow-right')" />
    <span class="glyphicon glyphicon-circle-arrow-left" ng-click="setIcon('glyphicon-circle-arrow-left')" />
    <span class="glyphicon glyphicon-circle-arrow-up" ng-click="setIcon('glyphicon-circle-arrow-up')" />
    <span class="glyphicon glyphicon-circle-arrow-down" ng-click="setIcon('glyphicon-circle-arrow-down')" />
    <span class="glyphicon glyphicon-globe" ng-click="setIcon('glyphicon-globe')" />
    <span class="glyphicon glyphicon-wrench" ng-click="setIcon('glyphicon-wrench')" />
    <span class="glyphicon glyphicon-tasks" ng-click="setIcon('glyphicon-tasks')" />
    <span class="glyphicon glyphicon-filter" ng-click="setIcon('glyphicon-filter')" />
    <span class="glyphicon glyphicon-briefcase" ng-click="setIcon('glyphicon-briefcase')" />
    <span class="glyphicon glyphicon-fullscreen" ng-click="setIcon('glyphicon-fullscreen')" />
    <span class="glyphicon glyphicon-dashboard" ng-click="setIcon('glyphicon-dashboard')" />
    <span class="glyphicon glyphicon-paperclip" ng-click="setIcon('glyphicon-paperclip')" />
    <span class="glyphicon glyphicon-heart-empty" ng-click="setIcon('glyphicon-heart-empty')" />
    <span class="glyphicon glyphicon-link" ng-click="setIcon('glyphicon-link')" />
    <span class="glyphicon glyphicon-phone" ng-click="setIcon('glyphicon-phone')" />
    <span class="glyphicon glyphicon-pushpin" ng-click="setIcon('glyphicon-pushpin')" />
    <span class="glyphicon glyphicon-usd" ng-click="setIcon('glyphicon-usd')" />
    <span class="glyphicon glyphicon-gbp" ng-click="setIcon('glyphicon-gbp')" />
    <span class="glyphicon glyphicon-sort" ng-click="setIcon('glyphicon-sort')" />
    <span class="glyphicon glyphicon-sort-by-alphabet" ng-click="setIcon('glyphicon-sort-by-alphabet')" />
    <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-click="setIcon('glyphicon-sort-by-alphabet-alt')" />
    <span class="glyphicon glyphicon-sort-by-order" ng-click="setIcon('glyphicon-sort-by-order')" />
    <span class="glyphicon glyphicon-sort-by-order-alt" ng-click="setIcon('glyphicon-sort-by-order-alt')" />
    <span class="glyphicon glyphicon-sort-by-attributes" ng-click="setIcon('glyphicon-sort-by-attributes')" />
    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-click="setIcon('glyphicon-sort-by-attributes-alt')" />
    <span class="glyphicon glyphicon-unchecked" ng-click="setIcon('glyphicon-unchecked')" />
    <span class="glyphicon glyphicon-expand" ng-click="setIcon('glyphicon-expand')" />
    <span class="glyphicon glyphicon-collapse-down" ng-click="setIcon('glyphicon-collapse-down')" />
    <span class="glyphicon glyphicon-collapse-up" ng-click="setIcon('glyphicon-collapse-up')" />
    <span class="glyphicon glyphicon-log-in" ng-click="setIcon('glyphicon-log-in')" />
    <span class="glyphicon glyphicon-flash" ng-click="setIcon('glyphicon-flash')" />
    <span class="glyphicon glyphicon-log-out" ng-click="setIcon('glyphicon-log-out')" />
    <span class="glyphicon glyphicon-new-window" ng-click="setIcon('glyphicon-new-window')" />
    <span class="glyphicon glyphicon-record" ng-click="setIcon('glyphicon-record')" />
    <span class="glyphicon glyphicon-save" ng-click="setIcon('glyphicon-save')" />
    <span class="glyphicon glyphicon-open" ng-click="setIcon('glyphicon-open')" />
    <span class="glyphicon glyphicon-saved" ng-click="setIcon('glyphicon-saved')" />
    <span class="glyphicon glyphicon-import" ng-click="setIcon('glyphicon-import')" />
    <span class="glyphicon glyphicon-export" ng-click="setIcon('glyphicon-export')" />
    <span class="glyphicon glyphicon-send" ng-click="setIcon('glyphicon-send')" />
    <span class="glyphicon glyphicon-floppy-disk" ng-click="setIcon('glyphicon-floppy-disk')" />
    <span class="glyphicon glyphicon-floppy-saved" ng-click="setIcon('glyphicon-floppy-saved')" />
    <span class="glyphicon glyphicon-floppy-remove" ng-click="setIcon('glyphicon-floppy-remove')" />
    <span class="glyphicon glyphicon-floppy-save" ng-click="setIcon('glyphicon-floppy-save')" />
    <span class="glyphicon glyphicon-floppy-open" ng-click="setIcon('glyphicon-floppy-open')" />
    <span class="glyphicon glyphicon-credit-card" ng-click="setIcon('glyphicon-credit-card')" />
    <span class="glyphicon glyphicon-transfer" ng-click="setIcon('glyphicon-transfer')" />
    <span class="glyphicon glyphicon-cutlery" ng-click="setIcon('glyphicon-cutlery')" />
    <span class="glyphicon glyphicon-header" ng-click="setIcon('glyphicon-header')" />
    <span class="glyphicon glyphicon-compressed" ng-click="setIcon('glyphicon-compressed')" />
    <span class="glyphicon glyphicon-earphone" ng-click="setIcon('glyphicon-earphone')" />
    <span class="glyphicon glyphicon-phone-alt" ng-click="setIcon('glyphicon-phone-alt')" />
    <span class="glyphicon glyphicon-tower" ng-click="setIcon('glyphicon-tower')" />
    <span class="glyphicon glyphicon-stats" ng-click="setIcon('glyphicon-stats')" />
    <span class="glyphicon glyphicon-sd-video" ng-click="setIcon('glyphicon-sd-video')" />
    <span class="glyphicon glyphicon-hd-video" ng-click="setIcon('glyphicon-hd-video')" />
    <span class="glyphicon glyphicon-subtitles" ng-click="setIcon('glyphicon-subtitles')" />
    <span class="glyphicon glyphicon-sound-stereo" ng-click="setIcon('glyphicon-sound-stereo')" />
    <span class="glyphicon glyphicon-sound-dolby" ng-click="setIcon('glyphicon-sound-dolby')" />
    <span class="glyphicon glyphicon-sound-5-1" ng-click="setIcon('glyphicon-sound-5-1')" />
    <span class="glyphicon glyphicon-sound-6-1" ng-click="setIcon('glyphicon-sound-6-1')" />
    <span class="glyphicon glyphicon-sound-7-1" ng-click="setIcon('glyphicon-sound-7-1')" />
    <span class="glyphicon glyphicon-copyright-mark" ng-click="setIcon('glyphicon-copyright-mark')" />
    <span class="glyphicon glyphicon-registration-mark" ng-click="setIcon('glyphicon-registration-mark')" />
    <span class="glyphicon glyphicon-cloud-download" ng-click="setIcon('glyphicon-cloud-download')" />
    <span class="glyphicon glyphicon-cloud-upload" ng-click="setIcon('glyphicon-cloud-upload')" />
    <span class="glyphicon glyphicon-tree-conifer" ng-click="setIcon('glyphicon-tree-conifer')" />
    <span class="glyphicon glyphicon-tree-deciduous" ng-click="setIcon('glyphicon-tree-deciduous')" />
    <span class="glyphicon glyphicon-cd" ng-click="setIcon('glyphicon-cd')" />
    <span class="glyphicon glyphicon-save-file" ng-click="setIcon('glyphicon-save-file')" />
    <span class="glyphicon glyphicon-open-file" ng-click="setIcon('glyphicon-open-file')" />
    <span class="glyphicon glyphicon-level-up" ng-click="setIcon('glyphicon-level-up')" />
    <span class="glyphicon glyphicon-copy" ng-click="setIcon('glyphicon-copy')" />
    <span class="glyphicon glyphicon-paste" ng-click="setIcon('glyphicon-paste')" />
    <span class="glyphicon glyphicon-alert" ng-click="setIcon('glyphicon-alert')" />
    <span class="glyphicon glyphicon-equalizer" ng-click="setIcon('glyphicon-equalizer')" />
    <span class="glyphicon glyphicon-king" ng-click="setIcon('glyphicon-king')" />
    <span class="glyphicon glyphicon-queen" ng-click="setIcon('glyphicon-queen')" />
    <span class="glyphicon glyphicon-pawn" ng-click="setIcon('glyphicon-pawn')" />
    <span class="glyphicon glyphicon-bishop" ng-click="setIcon('glyphicon-bishop')" />
    <span class="glyphicon glyphicon-knight" ng-click="setIcon('glyphicon-knight')" />
    <span class="glyphicon glyphicon-baby-formula" ng-click="setIcon('glyphicon-baby-formula')" />
    <span class="glyphicon glyphicon-tent" ng-click="setIcon('glyphicon-tent')" />
    <span class="glyphicon glyphicon-blackboard" ng-click="setIcon('glyphicon-blackboard')" />
    <span class="glyphicon glyphicon-bed" ng-click="setIcon('glyphicon-bed')" />
    <span class="glyphicon glyphicon-apple" ng-click="setIcon('glyphicon-apple')" />
    <span class="glyphicon glyphicon-erase" ng-click="setIcon('glyphicon-erase')" />
    <span class="glyphicon glyphicon-hourglass" ng-click="setIcon('glyphicon-hourglass')" />
    <span class="glyphicon glyphicon-lamp" ng-click="setIcon('glyphicon-lamp')" />
    <span class="glyphicon glyphicon-duplicate" ng-click="setIcon('glyphicon-duplicate')" />
    <span class="glyphicon glyphicon-piggy-bank" ng-click="setIcon('glyphicon-piggy-bank')" />
    <span class="glyphicon glyphicon-scissors" ng-click="setIcon('glyphicon-scissors')" />
    <span class="glyphicon glyphicon-bitcoin" ng-click="setIcon('glyphicon-bitcoin')" />
    <span class="glyphicon glyphicon-btc" ng-click="setIcon('glyphicon-btc')" />
    <span class="glyphicon glyphicon-xbt" ng-click="setIcon('glyphicon-xbt')" />
    <span class="glyphicon glyphicon-yen" ng-click="setIcon('glyphicon-yen')" />
    <span class="glyphicon glyphicon-jpy" ng-click="setIcon('glyphicon-jpy')" />
    <span class="glyphicon glyphicon-ruble" ng-click="setIcon('glyphicon-ruble')" />
    <span class="glyphicon glyphicon-rub" ng-click="setIcon('glyphicon-rub')" />
    <span class="glyphicon glyphicon-scale" ng-click="setIcon('glyphicon-scale')" />
    <span class="glyphicon glyphicon-ice-lolly" ng-click="setIcon('glyphicon-ice-lolly')" />
    <span class="glyphicon glyphicon-ice-lolly-tasted" ng-click="setIcon('glyphicon-ice-lolly-tasted')" />
    <span class="glyphicon glyphicon-education" ng-click="setIcon('glyphicon-education')" />
    <span class="glyphicon glyphicon-option-horizontal" ng-click="setIcon('glyphicon-option-horizontal')" />
    <span class="glyphicon glyphicon-option-vertical" ng-click="setIcon('glyphicon-option-vertical')" />
    <span class="glyphicon glyphicon-menu-hamburger" ng-click="setIcon('glyphicon-menu-hamburger')" />
    <span class="glyphicon glyphicon-modal-window" ng-click="setIcon('glyphicon-modal-window')" />
    <span class="glyphicon glyphicon-oil" ng-click="setIcon('glyphicon-oil')" />
    <span class="glyphicon glyphicon-grain" ng-click="setIcon('glyphicon-grain')" />
    <span class="glyphicon glyphicon-sunglasses" ng-click="setIcon('glyphicon-sunglasses')" />
    <span class="glyphicon glyphicon-text-size" ng-click="setIcon('glyphicon-text-size')" />
    <span class="glyphicon glyphicon-text-color" ng-click="setIcon('glyphicon-text-color')" />
    <span class="glyphicon glyphicon-text-background" ng-click="setIcon('glyphicon-text-background')" />
    <span class="glyphicon glyphicon-object-align-top" ng-click="setIcon('glyphicon-object-align-top')" />
    <span class="glyphicon glyphicon-object-align-bottom" ng-click="setIcon('glyphicon-object-align-bottom')" />
    <span class="glyphicon glyphicon-object-align-horizontal" ng-click="setIcon('glyphicon-object-align-horizontal')" />
    <span class="glyphicon glyphicon-object-align-left" ng-click="setIcon('glyphicon-object-align-left')" />
    <span class="glyphicon glyphicon-object-align-vertical" ng-click="setIcon('glyphicon-object-align-vertical')" />
    <span class="glyphicon glyphicon-object-align-right" ng-click="setIcon('glyphicon-object-align-right')" />
    <span class="glyphicon glyphicon-triangle-right" ng-click="setIcon('glyphicon-triangle-right')" />
    <span class="glyphicon glyphicon-triangle-left" ng-click="setIcon('glyphicon-triangle-left')" />
    <span class="glyphicon glyphicon-triangle-bottom" ng-click="setIcon('glyphicon-triangle-bottom')" />
    <span class="glyphicon glyphicon-triangle-top" ng-click="setIcon('glyphicon-triangle-top')" />
    <span class="glyphicon glyphicon-console" ng-click="setIcon('glyphicon-console')" />
    <span class="glyphicon glyphicon-superscript" ng-click="setIcon('glyphicon-superscript')" />
    <span class="glyphicon glyphicon-subscript" ng-click="setIcon('glyphicon-subscript')" />
    <span class="glyphicon glyphicon-menu-left" ng-click="setIcon('glyphicon-menu-left')" />
    <span class="glyphicon glyphicon-menu-right" ng-click="setIcon('glyphicon-menu-right')" />
    <span class="glyphicon glyphicon-menu-down" ng-click="setIcon('glyphicon-menu-down')" />
    <span class="glyphicon glyphicon-menu-up" ng-click="setIcon('glyphicon-menu-up')" />
    <span class="glyphicon space" ng-click="setIcon('')" />
</div>
