<div id="notificationsDialog">
    <table class="table">
        <thead>
            <tr>
                <td class="type">Type:</td>
                <td class="line">Line:</td>
                <td class="content">Content:
                    <span class="right label label-default" ng-click="clearNotifications()">Clear</span>
                </td>
                <td class="actions">
                    <span class="label label-default" ng-click="showHidingDialog()">Hidings</span>
                </td>
            </tr>
        </thead>
        <tr ng-repeat="notification in notifications" ng-click="jumgToLine(notification.line)">
            <td class="type">
                {{notification.type}}
            </td>
            <td class="line">
                <span>{{notification.line}}</span>
            </td>
            <td class="content">
                <span>{{notification.content}}</span>
            </td>
            <td class="actions">
                <button type="button" class="btn btn-default" ng-click="showHidingDialog()">
                    <span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Hide
                </button>
            </td>
        </tr>
    </table>
</div>
